
    body{
        background-color: black;
        color:white;
        position: relative;
        margin: 0;
    }

    #container{
         width: 100%;
         max-width: 1440px;
         margin: 0 auto; /*水平居中*/
         padding: 0px;
         overflow-x: hidden;
    }

    .header{
         display: flex; /*灵活可动*/
         align-items: center; /* 垂直居中 */
         gap: 5px; /* 元素间距 */
         height: 40px;
         justify-content: space-between; /* 左右分开 */
    }

    .left{
         display: flex; /*灵活可动*/
         align-items: center; /* 垂直居中 */
         gap: 40px; /*图标与功能按钮间的距离*/
    }

    .box{
        padding: 0px 18px;
        background-color: #FFFFFF1A;
        border-radius: 20px;  /*圆角*/
        height: 25px;
    }

    .right{
         display: flex; /*灵活可动*/
         align-items: center; /* 垂直居中 */
         justify-content: end;
    }

    ul{
        list-style: none; /* 移除实心圆点 */
        display: flex;
        flex-wrap: nowrap; /*不换行*/
    }

    .li1{
        margin-right: 20px; /*项间距*/
    }

    .title{
         text-align: center;
         padding: 60px 0px 0px ;
    }

    .search-box{
        position: relative;
        right: 440px;
        bottom: 15px;
    }

    .search-type{
        padding: 5px 20px;
        margin: 5px;
        background-color: #FFFFFF1A;
        border-radius: 20px;  /*圆角*/
    }

    .search{
         text-align: center;
         padding: 50px 0px 0px;
    }

    .img-container{
            position: relative;  /*相对定位*/
            display: inline-flex; /*开启flex布局*/
            align-items: center; /* 垂直居中 */
    }

    .box1{
            position: absolute;
            padding: 15px 40px;
            margin: 0px 7px;
            background-color: #00F9E5;
            border-radius: 30px;  /*圆角*/
    }

    .box2{
            position: absolute;
            padding: 17px 0px 13px 1030px;
            margin: 0px 5px;
    }

    .cards{
        text-align: center;
        padding: 55px 0px 0px;
    }

    .cards-ul1{
            display: flex;
            justify-content: center; /* 使列表项居中 */
            padding: 0;
            margin: 0;
            flex-wrap: wrap; /* 允许换行 */
            gap: 130px; 
    }

    .class-li1{   /*li元素内部排列，使按钮与文字说明垂直*/
        display: flex;
        flex-direction: column;  /* 按钮和文字垂直排列 */
        align-items: center;     /* 居中对齐 */
        text-align: center;
    }

    .btn1{
        width: 70px;
        height: 70px;
        padding: 10px;
        background-color: #ffffff1f;
        border-radius: 15px;
        border: none;  /*取消按钮立体阴影效果*/
    }

    .btn-name{
        color: #ffffff8c;
        font-size: 20px;
        margin-top: 10px;
    }

    .cards-ul2{
            display: flex;
            margin: 0;
            gap: 33px;
            justify-content: center; /* 使列表项居中 */
     }

    .cards-samples{
        position: relative;
        right: 11px;
        height: 100px;
        width: 345px;
        background-color: #F5F9FFE6;
        border-radius: 15px;  /*圆角*/
    }

    .cards-samples img{
        width: 100%;      /* 填充容器宽度 */
        height: auto;     /* 保持比例 */
        border-radius: 15px;  /*圆角*/
        pointer-events: auto; /* 确保可以接收鼠标事件 */
    }

    .AItitle1{
        padding-top: 40px;
    }

    .AItitle1 p{
        font-size: 20px;
    }

    .AItubiao{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .tubiao-p{
        display: flex;
        flex-direction: row;
        gap: 183px;
        font-size: 18px;
        position: absolute;
        padding: 18px 0 5px 20px;
        flex-wrap: wrap;
    }

    .tubiao-p5{
        display: flex;
        position: relative;
        top: 4px;
        flex-direction: column;  
        margin: 0;
    }

    .AItitle2{
        padding-top: 40px;
    }

    .AItitle2 p{
        font-size: 20px;
    }

    .AIgongju-list{
        flex-wrap: wrap; /* 允许换行 */
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 23px;
    }

    .AIgongju-list li{
        list-style: none;
    }

    .AIgongju-samples{
        width: 220px;
        height: 138px;
        background-color: aliceblue;
        border-radius: 20px;  /*圆角*/
    }

    .AIgongju-samples video{
        width: 100%;      /* 填充容器宽度 */
        height: auto;     /* 保持比例 */
        border-radius: 20px;  /*圆角*/
        pointer-events: auto; /* 确保可以接收鼠标事件 */
    }

    .GENGDUOAI{
        width: 100%;      /* 填充容器宽度 */
        height: auto;     /* 保持比例 */
        border-radius: 20px;  /*圆角*/
    }

    .zuixinxiaoxi{
        padding-top: 40px;
    }

    .zuixinxiaoxi p{
        font-size: 20px;
    }

    .zuixinxiaoxi-list{
        padding: 0;
        margin: 0;
        flex-wrap: wrap; /* 允许换行 */
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 23px;
    }

    .zuixinxiaoxi-list li{
        list-style: none;
    }

    .zuixinxiaoxi-samples{
        width: 340px;
        height: 170px;
        background-color: aliceblue;
        border-radius: 20px;  /*圆角*/
    }

    .zuixinxiaoxi-samples img{
        width: 100%;      /* 填充容器宽度 */
        height: auto;     /* 保持比例 */
        border-radius: 20px;  /*圆角*/
    }

    .intro-title{
        text-align: center;
        padding-top: 70px;
        font-size: 48px;
        font-weight: normal;
        margin-bottom: 0;
    }

    .intro-subtitle{
        text-align: center;
        padding-top: 0px;
        font-size: 20px;
        font-weight: normal;
        margin-top: 10px;
    }

    .choose{
        display: flex;
        padding-top: 15px;
        justify-content: center;
    }

    .choises{
        display: flex; 
        text-align: left;
        list-style: none;
        border: rgba(255, 255, 255, 0.388) 1px solid;
        border-radius: 30px;
        justify-content: center;
        padding: 7px 2px;
        margin: 0;
        
    }

    .box3{
        padding: 5px 35px;
        background-color: white;
        border-radius: 30px;  /*圆角*/
    }

    .intro-content{
        display: flex;
        padding-top: 30px;
        justify-content: center;
        gap: 100px;
    }

    .intro-content-left{
        padding: 0px;
    }

    .function-choise{
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 13px;
    }

    .function-titles{
        display: flex;
        padding-bottom: 13px;
        width: 300px;
        border-bottom: rgba(255, 255, 255, 0.388) 1px solid;
        justify-content: space-between;  /*内容分居两侧*/
    }

    .END{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    #bottom{
        background-color: #1E1E1E;
        width: 100%;
        height: 260px;
        margin: 0;
    }

    .bottom-content{
        display: flex;
        padding: 0 30px 0px;
        justify-content: center;
        gap: 30px;
    }

    .bottom-content p{
        color: #FFFFFF80;
        font-size: 12px;
        margin: 0;
    }

    .bottom-content a{
        text-decoration: none;
    }

    .bottom-content-left{
        margin-top: 40px;
        max-width: 600px;
    }

    .text-content{
        padding-top: 15px;
        padding-bottom: 30px;
    }
    
    .text-content2{
        display: flex;
        margin-top: 5px;
        gap: 5px;
    }

    .bottom-content-right{
        margin-top: 40px;
        max-width: 40%;
    }

    .youqinglianjie{
        display: flex;
        max-width: 300px;
        padding: 25px 0 20px 0;
        gap: 10px;
        flex-wrap: wrap;
    }

    .dibutubiao{
        display: flex;
        gap: 15px;
        align-items: center;
    }
   